ipykernel
python-dotenv
Chroma
chroma-hnswlib
chromadb
gradio
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langsmith
numpy
openai
pandas
pydantic
pydantic_core
pypdf
pyprojroot
PyYAML
SQLAlchemy
langchain_groq